.text__h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Otneuemontreal',sans-serif;
    font-size: 9.9rem;
    font-weight: 400;
    line-height: 6.9rem;
}

.link{
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Vcrosdmono',sans-serif;
    font-size: .875rem;
}

.text__h2{
    text-transform: none;
    font-family: 'Neuemontreal',sans-serif;
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 3.1rem;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.hidden{
    display: none;
}
@media (max-width:479px) {
    .text__h1{
        margin: 0;
        letter-spacing: -.08rem;
        font-size: 3.5rem;
        line-height: 3.1rem;
    }

    .text__h2{
        font-size: 1.7rem;
        line-height: 2rem;
    }
    
}